# Arquivos de byte compilados
__pycache__/

# Arquivos gerados pelo sistema operacional
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env

# Arquivos de configuração
*.pyc

# Arquivos de log e dados temporários
*.log
*.db

# Arquivos gerados pela IDE (substitua 'nome_da_ide/' pelo diretório da sua IDE)
.ide/
*.i.ml
.vscode

# Arquivos específicos do Flask
instance/
*.pyc
